/* 로그인 및 회원가입 */
* {
	box-sizing: border-box;
}

.membership_body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.membership, .find_id_container, .registration_container,
	.profile_update_container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: none;
}

.membership.active, .find_id_container.active, .registration_container.active,
	.profile_update_container.active {
	display: block;
	width: 25%;
	margin: auto;
	margin-top: 10%;
}

.membership.active {
	margin: auto;
}

.find_id_container.active {
	margin-top: 15%;
}

.membership h2, .find_id_container h2, .registration_container h2,
	.profile_update_container h2 {
	margin-bottom: 20px;
}

.membership input[type="text"], .membership input[type="password"],
	.find_id_container input[type="text"], .find_id_container input[type="email"],
	.registration_container input[type="text"], .registration_container input[type="password"],
	.registration_container select, .profile_update_container input[type="text"],
	.profile_update_container input[type="email"] {
	width: 100%;
	padding: 15px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 15px;
}

.registration_container input[type="text"], .registration_container input[type="password"]
	{
	width: 90%;
}

.registration_container select {
	width: 90%;
}

.profile_update_container .address-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 10px 0;
}

.profile_update_container .address-container input[type="text"] {
	width: 85%;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 10px;
}

.profile_update_container .address-container input[type="button"] {
	width: 20%;
	padding: 10px;
	background-color: #558BCF;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
}

.membership button, .find_id_container button, .registration_container button,
	.profile_update_container button {
	width: 100%;
	padding: 10px;
	background-color: #558BCF;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}

.registration_container button, .profile_update_container button {
	width: 40%;
}

.membership button:hover, .find_id_container button:hover,
	.registration_container button:hover, .profile_update_container button:hover
	{
	background-color: #558BCF;
}

.membership .find_id, .membership .find_pw, .employee_container .insert_employee,
	.back_to_login a {
	color: #558BCF;
	text-decoration: none;
	margin: 0 -25px;
}

.membership .find_id:hover, .membership .find_pw:hover,
	.employee_container .insert_employee:hover, .back_to_login a:hover {
	text-decoration: underline;
}

.find_container {
	text-align: right;
	margin-bottom: 20px;
	margin-right: 25px;
}

.find_id_container.active img {
	width: 155px;
}

.employee_container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.mypage h1 {
	margin-top: 10px;
}

.hidden {
	display: none;
}

#pwCheck, #checkpwCheck {
	display: inline-block;
	vertical-align: middle;
	/* margin-top: 1px; */
}

/* 추가정보 입력 */
#insertForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
	z-index: 999; /* 팝업보다 낮고 다른 모든 요소보다 높은 z-index */
	display: none; /* 기본은 보이지 않도록 설정 */
}

.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	padding: 20px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	z-index: 1000; /* 오버레이보다 높은 z-index */
}

.popup h2 {
	text-align: center;
	margin-bottom: 20px;
}

.popup input {
	width: 100%;
	padding: 15px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 15px;
}

.popup button {
	width: 35%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.popup .address-button {
	background-color: #558BCF;
	color: white;
}

.popup .address-button:hover {
	background-color: #558BCF;
}

.popup .nickname-button {
	background-color: #558BCF;
	color: white;
}

.popup .submit-button {
	background-color: #558BCF;
	color: white;
}

.popup .submit-button:hover {
	background-color: #558BCF;
}

.popup label {
	display: block;
	font-size: 12px;
}

.input-container {
	position: relative;
	width: 100%;
}

.valid-check {
	display: none;
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 50px;
}

.valid-check.show {
	display: inline;
}

.valid-check.error {
	color: red;
	left: 92%;
}

.valid-check.success {
	color: green;
	left: 92%;
}

.membership img {
	width: 155px;
}

/* 근태관리 */
.Attendance_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 90%;
	margin: auto;
}

/* .Attendance {
    gap: 10px;
} */
.Attendance_sections, .Attendance_vacation {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 10px;
	gap: 150px;
	/* padding: 35px; */
}

.status_container, .hours_container, .week_status, .vacation_status {
	width: 100%;
	/* padding: 20px; */
	border-radius: 10px;
}

.vacation_container {
	width: 35%;
	/* padding: 20px; */
	border-radius: 10px;
}

.status_row, .hours_row {
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.week_row {
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.vacation_row {
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	height: 55px;
	align-items: center;
	justify-content: center;
}

.month_row {
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	height: 55px;
	align-items: center;
	justify-content: center;
}

.status_col, .hours_col, .vacation_col, .week_col, .month_col {
	flex: 1;
	text-align: center;
}

.week_header, .vacation_header, .status_header, .month_header {
	background-color: #555;
	color: white;
	font-weight: bold;
	border-radius: 15px;
}

.Attendance_container h3 {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 500;
}

.month_status {
	width: 100%;
	/* padding: 20px; */
	border-radius: 10px;
	/* margin-top: 30px; */
}

.Attendance h2 {
	margin: 5px;
}

/* 마이페이지 스타일 */
.resultpw, .resultcheckpw {
	font-size: 10px;
	display: block;
	margin-top: 5px;
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
}

.form-container #pwCheck, .form-container #checkpwCheck {
	vertical-align: middle;
	margin-left: -23px;
	margin-top: 10px;
}

.form-container {
	/* padding: 5%; */
	margin-left: 10%;
}

.form-group {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: auto;
	position: relative;
}

.form-group span, .form-group-photo span {
	width: 100px;
	font-size: 18px;
	font-weight: 500;
	margin-top: 10px;
}

.form-group label {
	width: 220px;
	font-size: 18px;
	margin-left: 100px;
	margin-top: 20px;
}

.form-group input {
	padding: 15px;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 16px;
}

#updateForm {
	display: flex;
	flex-direction: column;
	gap: 25px;
	position: relative;
}

.form-group-photo {
	display: flex;
	align-items: center;
}

.form-group-photo img {
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.form-row {
	display: flex;
	justify-content: space-between;
}

.form-row .form-group {
	flex: 1;
	position: relative;
}

.form-actions {
	display: flex;
	justify-content: flex-end;
	margin-right: 12%;
	gap: 10px;
	position: fixed;
	bottom: 85px;
	right: -18px;
}

.form-actions button {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #558BCF;
	color: white;
	font-size: 15px;
	border: 1px solid #ccc;
}

.form-container input[type="text"], .form-container input[type="password"]
	{
	width: 60%;
}

.form-container .hidden {
	display: none;
}

.edit-nickname-button {
	position: absolute;
	top: -65px;
	right: 150px;
	padding: 10px 10px;
	border-radius: 10px;
	background-color: #9733c5;
	color: white;
	font-size: 15px;
	border: 1px solid #ccc;
}

.form-container .show {
	display: inline;
}

.form-container .hidden {
	display: none;
}

.form-container .success {
	color: green;
}

.form-container .error {
	color: red;
}

.mypage h2 {
	margin: 7px;
}

.cancel button {
	background-color: #c51221;
}