/* 사이드 버튼 */
.sideAbout .sideBtnBox {
    padding-bottom: 30px;
}

.sideAbout .sideBtn {
    width: 100%;
    padding: 15px 30px;
    background-color: #fff;
    border: 3px solid #558BCF;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #558BCF;
}

/* 버튼 효과 */
.sideAbout .sideBtn:hover,
.sideAbout .sideBtn:focus,
.sideAbout .sideBtn:active {
    background-color: #558BCF;
    color: #fff;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
}

/* 사이드 메뉴 토글 효과 */
.sideAbout .addressListPrivate {
    padding-bottom: 30px;
}

/* 공통 스타일 */
.toggleItem .toggleTit {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.toggleItem .toggleTit::after {
    content: "";
    display: block;
    width: 20px;
    height: 23px;
    background-image: url(../images/icon/toggle.png);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease;
    transform: rotate(0deg);
}

.toggleItem .toggleTit.active::after {
    transform: rotate(180deg);
}

.subList {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    padding-left: 20px;
}

.subList.active {
    max-height: 500px;
    /* 적당히 큰 값으로 설정 */
    opacity: 1;
}

.subList.active .newList a {
    color: #888;
}

.subList.active .newList a span {
    margin-left: 5px;
}

.subList li:not(:last-child) {
    padding-bottom: 8px;
}

.subList li a.active {
    color: #558BCF;
    font-weight: 600;
}

/* 주소록 메인 콘텐츠 */
.sideContents.addressCont {
    gap: 10px;
}


.sideContents.addressCont .mainTitle {
    flex: unset;
    color: #333;
    height: 5%;
}

/* 주소록 검색창 */
/* 주소록 테이블 영역 */
.tableCont {
    flex: 3;
    display: flex;
    flex-direction: column;
}

/* 주소록 툴바  */
.toolBar {
    padding-bottom: 10px;
    flex: 1;
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.toolBar ul {
    flex: 9;
    list-style: none;
    padding: 0;
    display: flex;
    border-bottom: 2px solid #c1c1c1;
    gap: 25px;
}

.toolBar li {}

.toolBar a {
    padding: 5px 0;
    display: block;
    position: relative;
    color: #333;
}

.toolBar a.active {
    font-weight: 600;
}

.toolBar a.active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #888888;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.deleteBtn {
    display: block;
    color: #333;
    border: none;
    padding: 10px 20px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
}

.deleteBtn i {
    margin-right: 5px;
}

/* 주소록 테이블 */
.listBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #333;
}

.listBox .rows {
    flex: 1;
    display: flex;
    border-bottom: 1px solid #c1c1c1;
}

.listBox .rows:hover {
    background-color: #eee;
    cursor: pointer;
}

.listBox .rows:last-child {
    border-bottom: 2px solid #888888;
}

.listBox .rows.listHeader {
    border-radius: 15px;
    background-color: #555;
    color: #fff;
}

.listBox .rows .cols {
    display: flex;
    justify-content: center;
}

.listBox .rows .cols:nth-child(1),
.cols:nth-child(2),
.cols:nth-child(5) {
    width: 10%;
}

.listBox .rows .cols:nth-child(3) {
    width: 35%;
}

.listBox .rows .cols:nth-child(4) {
    width: 35%;
}

.listBox .rows .cols span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.listBox .rows .cols span.emer {
    color: rgb(245, 115, 115);
    width: 45%;
    border: 1px solid rgb(245, 115, 115);
    border-radius: 25px;
}

/* 주소록 수정/등록 팝업 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 3px solid #558BCF;
    width: 50%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popTit {
    font-size: 24px;
    font-weight: bold;
}

.sideContents.addressContDetail {
    gap: 30px;
}

.sideContents.addressContDetail .mainTitle {
    flex: unset;
    color: #333;
    height: 5%;
}

.addressForm {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formBox {
    display: flex;
    gap: 10px;
}

.leftForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.rightForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.formGroup {
    display: flex;
    align-items: center;
}

.formGroup label {
    width: 100px;
    margin-right: 10px;
    font-size: 18px;
}

.formGroup input[type="text"],
.formGroup input[type="file"] {
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.formGroup .photoWrapper {
    display: flex;
    align-items: flex-end;
}

.photoWrapper img {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 8px;
}

.photoWrapper button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.photoWrapper input[type="file"] {
    display: none;
}

.photoWrapper label {
    background-color: #558BCF;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    width: 50px;
    text-align: center;
    font-size: 13.3px;
}

.actions {
    text-align: center;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.actions button {
    padding: 10px 20px;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background: #555;
    color: #fff;
}

.actions button.save {
    background-color: #558BCF;
    color: white;
    border: none;
}

.actions button.delete {
    background-color: #e74c3c;
    color: white;
    border: none;
}

/* 메신저 */

/* 메신저 사이드 바 */
.chatChangeBox {
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
}

.sideTit {
    margin: 0;
    font-size: 24px;
}

.toggleBtn,
.createChatBtn,
.createChatConfirmBtn {
    padding: 10px 20px;
    border: none;
    background-color: #558BCF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

.toggleBtn:hover,
.createChatBtn:hover,
.createChatConfirmBtn:hover {
    background-color: #1268d4;
}

.addressList li:first-child {
    display: flex;
    justify-content: end;
}

.createChatBtn {
    font-size: 20px;
    padding: 6px 20px;
}

.toggleBtn.active,
.createChatBtn:active,
.createChatConfirmBtn:active {
    background-color: #1268d4;
}

.chatList,
.addressList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 600px;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 10px;
}

.chatList li,
.addressList li:not(:first-child) {
    border-bottom: 1px solid #c1c1c1;
}

.chatList li:hover,
.addressList li:not(:first-child):hover {
    background-color: #f0f0f0;
}

.chatList li a,
.addressList li a {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.chatList .chatTitle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chatList .notiBox {}

.notificationCount {
    color: #fff;
    border-radius: 100%;
    font-size: 10px;
    font-weight: 600;
    background-color: #f93453;
    padding: 3px 5.5px;
}

.exitBtn {
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
}

.exitBtn i {
    font-size: 24px;
    margin-left: 5px;
}

/* 채팅 콘텐츠  */
.chatContainer {
    background-color: #fff;
    position: relative;
    height: 86vh;
    gap: 15px;
}

.chatHeader {
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatHeader .title {
    font-size: 26px;
    font-weight: bold;
}

.chatBody {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: rgb(220, 236, 252);
    border-radius: 25px;
    position: relative;
    transition: padding-bottom 0.3s;
}

.message {
    margin-bottom: 10px;
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    clear: both;
}

.message.sent {
    background-color: #558BCF;
    color: white;
    float: right;
    text-align: right;
    border-top-right-radius: 0;
}

.message.sent a {
    color: white;
}

.message.received {
    background-color: #fff;
    float: left;
    text-align: left;
    border-top-left-radius: 0;
}

.message img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.chatFooter {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1001;
}

.chatFooter .messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    margin-right: 10px;
    min-height: 40px;
    overflow-y: auto;
}

.chatFooter button {
    background-color: #558BCF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.chatFooter button:hover,
.chatFooter button:active,
.chatFooter button:focus {
    background-color: #1268d4;
}

.chatFooter .icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.fileInput {
    display: none;
}

.emojiContainer {
    display: none;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    gap: 10px;
    position: relative;
}

.emojiContainer img {
    cursor: pointer;
    max-width: 100px;
}

.closeBtn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.filePopup {
    display: none;
    position: fixed;
    top: calc(100% /2);
    left: calc(100% /2);
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.popupContent {
    background: white;
    padding: 60px;
    border-radius: 10px;
    text-align: center;
}

.popupBox {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.popupContent button {
    background-color: #558BCF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.popupContent p {
    margin-bottom: 20px;
}

/* 프로필 팝업 */
.profilePopup {
    display: none;
    /* Initially hidden */
    position: absolute;
    top: 50px;
    left: -2%;
    width: auto;
    background-color: white;
    border: 3px solid #558BCF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 8px;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.profileTit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 10px;
}

.profilePopup img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.profilePopup .profileInfo {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.profilePopup .profileDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #eee;
    padding: 20px;
    border-radius: 8px;
}

.profilePopup .profileDetails .profileRow {
    display: flex;
    gap: 5px;
}

.profilePopup .profileDetails .profileRow .label {
    width: 80px;
    color: #888;
}

.profilePopup .profileDetails .profileRow .value {
    color: #333;
}

.profilePopup .profilebtnBox {
    display: flex;
    gap: 10px;
}

.profilePopup .chatButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #558BCF;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
}

.profilePopup .chatButton:hover {
    background-color: #1268d4;
}

.profilePopup .closeButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
}

.profilePopup .closeButton:hover {
    background-color: #c51221;
}