<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="annualLeave">

	<!-- 해당 사원의 남은 연차 갯수를 조회하는 쿼리문 -->
	<select id="selectRemaingLeaves" resultType="Integer">
		select
		remaining_leaves from annual_leave where emp_no = #{empNo}
	</select>

	<!-- 직원 정보 조회 -->
	<select id="employeeInfo" resultType="com.wit.dto.EmployeeDTO">
		SELECT e.name, r.role_title
		as role_code
		FROM Employee e
		JOIN Role r ON e.role_code = r.role_code
		WHERE e.emp_no = #{emp_no}
	</select>


</mapper>