<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<!-- 게시물 등록 -->
	<insert id="write" parameterType="com.wit.dto.BoardDTO">
		INSERT INTO board (board_seq, emp_no, title, contents, write_date,
		views)
		VALUES (board_seq.NEXTVAL, #{emp_no}, #{title}, #{contents},
		sysdate, 0)

		<!-- 시퀀스 값 가져오기 -->
		<selectKey resultType="int" order="AFTER"
			keyProperty="board_seq">
			SELECT board_seq.CURRVAL FROM dual
		</selectKey>
	</insert>

	<!-- 게시물 조회 -->
	<!-- 조인을 통해 작성자 위치에 닉네임을 조회함! -->
	<!-- 그리고 작성날짜가 최신순인게 맨위로 올라온다! -->
	<!-- 조인 너무 어려워 밍쥬야... -->
	<select id="list" resultType="com.wit.dto.BoardDTO">
		SELECT b.board_seq, b.title, b.contents, b.write_date, b.views, e.nickname
		AS emp_no
		FROM board b
		JOIN employee e ON b.emp_no = e.emp_no
		ORDER BY b.write_date DESC
	</select>

</mapper>
