<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eApproval">
	<select id="selectByStatus" resultType="com.wit.dto.RecentDocuListDTO">
		select 
			document_seq, write_date, emer_yn, title, status, name
		from (
			select 
				document_seq, write_date, emer_yn, title, status, docu_code
			from documents
			where status = #{status} AND emp_no = #{emp_no}
			order by write_date DESC
		) d
		join document_list dl ON d.docu_code = dl.docu_code
		where ROWNUM &lt;= 5
	</select>
	
	<select id="getDocuList" resultType="com.wit.dto.DocuListDTO">
		select * from document_list
	</select>
	
	<insert id="insertDocu">
		<selectKey resultType="int" order="AFTER" keyProperty="seq">
			select document_seq.currval from dual
		</selectKey>
		insert into documents values (document_seq.nextval, #{emp_no}, null, sysdate, '작성중', 'N', #{docuCode})
	</insert>
	
	<insert id="createApprLine">
		insert into approvals_line values (a_line_seq.nextval, #{docuSeq}, #{emp_no}, null, '임시 라인', #{index}, null)
	</insert>
	
	<insert id="createRefeLine">
		insert into reference_line values (r_line_seq.nextval, #{docuSeq}, #{emp_no}, 'N', null)
	</insert>
	
	<update id="updateBySave">
		update documents set title = #{title}, emer_yn = #{emer_yn} where document_seq = #{docuSeq}
	</update>
	
	<insert id="insertProp">
		insert into work_proposals values (#{document_seq}, #{eff_date}, #{dept_title}, #{contents})
	</insert>
</mapper>