<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notification">
	<select id="getNotifications" resultType="com.wit.dto.NotificationDTO">
	    SELECT noti_seq, emp_no, chat_seq, noti_text
	    FROM notification
	    WHERE emp_no = #{empNo}
	    ORDER BY noti_seq DESC
	</select>
	
	<insert id="insertNotification">
	    INSERT INTO notification (noti_seq, emp_no, chat_seq, noti_text)
	    VALUES (noti_seq.NEXTVAL, #{empNo}, #{chatSeq}, '새 메시지가 도착했습니다.')
	</insert>
	
	<select id="countNotifications" resultType="int">
	    SELECT COUNT(*)
	    FROM notification
	    WHERE emp_no = #{empNo}
	</select>
	
	<delete id="deleteNotifications">
	    DELETE FROM notification
	    WHERE chat_seq IN (SELECT chat_seq FROM chat WHERE chat_room_seq = #{chatRoomSeq})
	    AND emp_no = #{empNo}
	</delete>
</mapper>