<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vehicleBooking">
	<!-- 차량 예약 추가 -->
	<insert id="vehicleBookingInsert" parameterType="com.wit.dto.VehicleBookingDTO">
		insert into vehicle_booking
		values (
		vehicle_booking_seq.nextval,
		#{emp_no},
		#{dept_title},
		#{name},	
		#{vehicle_seq},
		#{start_date},
		#{end_date},
		#{passenger},
		#{purpose}
		)
	</insert>
	
	<!-- 차량 목록 조회 -->
	<select id="getVehicleList" resultType="com.wit.dto.VehiclesDTO">
		select * from vehicles
	</select>
	
	<!-- 차량별 예약 조회 -->
	<select id="getVehicleInfo" resultType="com.wit.dto.VehiclesDTO">
		select * from vehicles where vehicle_seq = #{vehicleSeq}
	</select>
		
	<!-- 해당 차량의 모든 예약 정보를 조회 -->
	<select id="getAllVehicleBooking" resultType="com.wit.dto.VehicleBookingDTO">
    select * from vehicle_booking where vehicle_seq = #{vehicle_seq}
	</select>

	<!-- 직원 정보 조회 -->
	<select id="employeeInfo" resultType="com.wit.dto.EmployeeDTO">
		SELECT name
		FROM Employee
		WHERE emp_no = #{empNo}
	</select>
	
	<!-- 예약 가능한 차량 목록 조회 -->
	<select id="selectAllVehicleList" resultType="com.wit.dto.VehiclesDTO">
		select * from vehicles where status = #{status}
	</select>
		
	<!-- 해당 사원의 차량 예약 정보 목록 조회 -->
	<select id="selectAllByEmpNo" resultType="com.wit.dto.VehicleBookingDTO">
		select * from (
			select 
				vb.purpose, vb.start_date, vb.end_date, v.name, v.license_plate,
				row_number() over (order by start_date desc) as rn
			from 
				vehicle_booking vb
			join vehicles v on vb.vehicle_seq = v.vehicle_seq	 
			where vb.emp_no = #{empNo}
		) where rn between (#{cPage} * #{recordCountPerPage} - (#{recordCountPerPage} - 1)) AND (#{cPage} * #{recordCountPerPage})
	</select>
	
	<!-- 해당 사원의 모든 회의실 예약 갯수를 조회하기 위한 쿼리문 -->
	<select id="getCountBookingList" resultType="int">
		select count(*) 
		from vehicle_booking
		where emp_no = #{empNo}
	</select>
	
	<!-- 해당 사원의 차량 예약 정보 목록 조회 -->
	<select id="selectSearchListByEmpNo" resultType="com.wit.dto.VehicleBookingDTO">
		select * from (
			select 
				vb.purpose, vb.start_date, vb.end_date, v.name, v.license_plate,
				row_number() over (order by start_date desc) as rn
			from 
				vehicle_booking vb
			join vehicles v on vb.vehicle_seq = v.vehicle_seq	 
			where vb.emp_no = #{empNo}
			and upper(purpose) like upper('%'||#{keyword}||'%') 
		) where rn between (#{cPage} * #{recordCountPerPage} - (#{recordCountPerPage} - 1)) AND (#{cPage} * #{recordCountPerPage})
	</select>
	
	<!-- 해당 사원의 모든 차량 예약 갯수를 조회하기 위한 쿼리문 -->
	<select id="getCountSearchBookingList" resultType="int">
		select count(*) 
		from vehicle_booking
		where emp_no = #{empNo}
		and upper(purpose) like upper('%'||#{keyword}||'%') 
	</select>
	
	<!-- 해당 항목의 상태를 변경하기 위한 쿼리문 -->
	<update id="updateStatus">
		update vehicles set status = #{status} where vehicle_seq = ${seq}
	</update>
	
	<!-- 해당 항목의 예약 안내 사항을 변경하기 위한 쿼리문 -->
	<update id="updateGuideLines">
		update vehicles set guidelines = #{guideLines} where vehicle_seq = ${seq}
	</update>
	
	<!-- 해당 항목을 삭제하기 위한 쿼리문 -->
	<delete id="deleteBySeq">
		delete from vehicles where vehicle_seq = #{seq}
	</delete>
	
	<!-- 항목 추가를 위한 쿼리문 -->
	<insert id="addVehicle">
		insert into vehicles values (vehicle_seq.nextval, #{name}, #{license_plate}, '예약 가능', #{guidelines})
	</insert>
</mapper>